* {
    margin: 0;
    padding: 0;
}

h1, table {
    font-family: 'VT323', monospace;
    font-size: xx-large;
}

h1 {
    padding: 22px;
}

table, tr, th, td {
    margin-left: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px
}

p{
    font-weight: bold;
}

.vertical-menu {
    float: right;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    transition: font-weight 0.3s;
}

.vertical-menu a {    
    text-decoration: none;
    color: black;
}

.vertical-menu a:hover {
    font-weight: bold;
}

.links {
    display: none;
    flex-direction: column;
}

.show-links {
    display: flex;
}